PORT=8000

NODE_ENV=development

MONGO_URI= your_mongodb_connection_string --- IGNORE ---

JWT_SECRET= your_super_secret_key --- IGNORE ---

JWT_EXPIRES_IN=your_jwt_expiration_time --- IGNORE ---

REFRESH_TOKEN_SECRET=your_refresh_token_secret_key --- IGNORE ---

REFRESH_TOKEN_EXPIRES_IN=your_refresh_token_expiration_time --- IGNORE ---

CORS_ORIGINS= your_frontend_url --- IGNORE ---

REPORT_DIR=your_reports_directory --- IGNORE ---